@import "reset.css";

body{
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

#blur {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}

#clock {
  font-weight: 600;
  font-size: 130px;
  margin-bottom: 10px;
}

form {
  margin: 10px 0px;
}

input {
  font-size: 30px;
}

input[type=text] {
  border: none;
  border-bottom: 2px solid white;
  background: none;
  color: whitesmoke;
  text-align: center;
}

input:focus {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

input::placeholder {
  color: whitesmoke;
  justify-content: center;
}

#greeting {
  font-size: 30px;
}

#today {
  position: absolute;
  display: flex;
  bottom: 2%;
  right: 2%;
}

#date {
  margin-right: 5px;
}

button {
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
  opacity: 0.5;
}